body, html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FFEA00;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color: inherit;
}
/* 
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
} */

@keyframes scroll {
    0%   { transform: translateY(0); opacity: 1; }
    25%  { opacity: 1; }
    100% { transform: translateY(1em); opacity: 0; }
}